* {
  margin: 0%;
  padding: 0%;
  font-family: "Abril Fatface", cursive;
}

/* header part css */

header {
  background-color: aqua;
}
nav {
  display: inline;
  background-color: aqua;
  
}
.heading {
  display: inline-block;
}
.heading h2 {
  margin-left: 20px;
}
ul {
  float: right;
  list-style: none;
  display: flex;
  margin: -5px 10px;
}
li {
  margin: 10px;
  /* margin-bottom: ; */
}

/* main css */

#content {
  background-color: rgb(216, 228, 238);
  width: 90vw;
  background-color: rgb(240, 238, 235);
  height: 100vh;
  margin-left: 5%;
  border: 2px solid green;
  /* margin: 10px 5px 10px 5px; */
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(48, 45, 45);

}
.contentDiv {
  /* border: 2px solid rgb(14, 17, 14); */
  width: 60%;
  height: 80%;
  margin-left: 8%;
  margin-right: 10px;
  margin-top: 20px;
  float: right;
 
}
.filterDiv {
  border: 5px solid rgb(70, 64, 64);
  width: 22%;
  height: 80%;
  margin-top: 20px;
  margin-left: 8%;
  border-radius: 10px;
  /* border-radius: 5px; */
}
.filterDiv h2{
  margin-left:10px ;
}

#search_bar{
  width: 99%;
  background-color: rgb(188, 214, 214);
  border: 2px solid black;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.Ama_cafe{
  /* background-color: rgb(150, 128, 128); */
  width: 100%;
  height: 45%;
  margin: 10px 0px 10px 0px;
}
.chandini{
  /* background-color: rgb(90, 76, 76); */
  width: 100%;
  height: 45%;
  display: flex;

}
.left1content{
  border: 2px solid rgb(116, 45, 45);
  width: 40%;
  height: 90%;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 10px;
  background-image: url(img/Ama_cafe.jpg);
  background-size: cover;
  float: left;
   /* margin-top: 10px; */
  /* margin-left: 8%; */ 
}
.left2content
{
  border: 2px solid rgb(116, 45, 45);
  width: 40%;
  height: 90%;
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 10px;
  
  background-image: url(img/chandini.webp);
  background-size: cover;

}

   .right1content{
   border: 2px solid rgb(14, 17, 14);
   width: 50%;
   height: 90%;
  margin-right: 18px;
  margin-top: 10px;
  border-radius: 20px;
   float: right; 
   box-shadow: 10px 5px 5px rgb(48, 45, 45);
   }
   .right2content{
   border: 2px solid rgb(14, 17, 14);
   width: 50%;
   height: 90%;
  margin-left: 39px;
  margin-top: 11px;
  border-radius: 20px;
   float: right; 
   box-shadow: 10px 5px 5px rgb(48, 45, 45);
   }


.btn button{
  /* background-color: blue; */
  width: 100px;
  display: flex;
  position: relative;
  float: right;
  margin-top: 50px;
}
.Cuisine_Filter{
  text-align: center;
  margin: 10px;
}
.cusino{
   padding: 20px;
}
.Cost{
  padding: 20px;
}
.Cost_Filter{
  text-align: center;
  margin: 10px;
}
.about{
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.snaks{
  background-color: green;
  border: 2px solid rgb(26, 24, 24);
  padding: 5px;
  margin: 20px 10px;
  border-radius: 10px;
}
.Lunch{
  background-color: rgb(13, 146, 223);
  border: 2px solid rgb(13, 14, 13);
  margin: 20px 10px;
  padding: 5px;
  border-radius: 10px;
}
.South{
  background-color: rgb(120, 182, 104);
  border: 2px solid rgb(27, 24, 24);
  padding: 5px;
  /* margin-top: 200px; */
  margin: 20px 10px;
  border-radius: 10px;
}
.North{
  background-color: rgb(150, 42, 27);
  border: 2px solid rgb(8, 8, 8);
  margin: 20px 10px;
  border-radius: 10px;
  padding: 5px;
  }
/* footer css  */
footer {
  background-color: rgb(86, 77, 64);
}
